[submodule "morse-firmware"]
	path = drivers/morse/morse-firmware
	url = https://github.com/MorseMicro/morse-firmware.git
	branch = mm8108-2.0.0
[submodule "morse_driver"]
	path = drivers/morse/morse_driver
	url = https://github.com/MorseMicro/morse_driver.git
	branch = mm8108-2.0.0
[submodule "morse_cli"]
	path = tools/morse_cli
	url = https://github.com/MorseMicro/morse_cli.git
	branch = mm8108-2.0.0
[submodule "hostap"]
	path = tools/hostap
	url = https://github.com/MorseMicro/hostap.git
	branch = mm8108-2.0.0
[submodule "batman/batman-adv"]
	path = drivers/batman/batman-adv
	url = https://github.com/open-mesh-mirror/batman-adv.git
