[submodule "morse-firmware"]
	path = morse-firmware
	url = https://github.com/MorseMicro/morse-firmware.git
	branch = mm8108-2.0.0
[submodule "morse_driver"]
	path = morse_driver
	url = https://github.com/MorseMicro/morse_driver.git
	branch = mm8108-2.0.0
[submodule "morse_cli"]
	path = morse_cli
	url = https://github.com/MorseMicro/morse_cli.git
	branch = mm8108-2.0.0
[submodule "hostap"]
	path = hostap
	url = https://github.com/MorseMicro/hostap.git
	branch = mm8108-2.0.0
